@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: absolute;
    transform: translate(-200px);
}

section::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffc107, #e91e63);
    border-radius: 50%;
    transform: translate(-320px, -120px);
}

section::after {
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2196f3, #31ff38);
    border-radius: 50%;
    transform: translate(600px, -150px);
}

.box {
    position: relative;
    z-index: 1000;
}

.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-lista button{
    width: 100%;
    height: 100%;
}

#dycalendar {
    width: 100%;
    padding: 20px;
}

#dycalendar table {
    width: 100%;
    margin-top: 40px;
    border-spacing: 5px;
}

#dycalendar table tr:nth-child(1) td {
    background: #fff;
    color: #111;
    border-radius: 4px;
    font-weight: 600;
}

#dycalendar table td {
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

#dycalendar table td:hover {
    background: #fff;
    color: #111 !important;
}

.dycalendar-month-container .dycalendar-today-date,
.dycalendar-month-container .dycalendar-target-date {
    background: #fff;
    color: #111 !important;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn {
    background: #fff;
    color: #111;
    width: 44px;
    height: 38px;
    left: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn {
    background: #fff;
    color: #111;
    width: 44px;
    height: 38px;
    right: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.dycalendar-month-container .dycalendar-span-month-year {
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
    overflow: hidden;
}

.box2 {
    position: relative;
    width: 380px;
    height: 503px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    transform: translate(200px);
    z-index: 1;
}

.box2::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #ffc107, #e91e63);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box2::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #2196f3, #31ff38);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
}

.form h2 {
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

ul li {
    color: #45f3ff;
    font-size: 20px;
}

.none {
    display: none;
}

.inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #45f3ff;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}

.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
    height: 44px;
}

input[type="submit"] {
    transform: translateY(50px);
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 300px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

input[type="submit"]:hover {
    letter-spacing: 0.5em;
    color: #45f3ff;
    background: #1c1c1c;
}

@media (max-width: 1280px) {
    section::before {
        transform: translate(-90px, -225px);
    }

    section::after {
        transform: translate(540px, -125px);
    }
}

@media (max-width: 991px) {
    section::before {
        transform: translate(-240px, -130px);
    }

    section::after {
        transform: translate(685px, -220px);
    }
}